.footer {
    padding: 10rem 0;
    background-color: $color-secondary;

    &__navigation {
        border-top: 1px solid $default-font-color;
        display: inline-block;
        width: max-content;
        justify-self: center;
        padding-top: 2rem;
    }

    &__link {

        &:link,
        &:visited {
            font-size: $default-font-size;
            color: $default-font-color;
            text-decoration: none;
            display: inline-block;
            text-transform: uppercase;
        }

        &:hover,
        &:active
        {
            background-color: $color-primary;
            color: $color-secondary;
            padding: 0.2rem 0.4rem;
            box-shadow: 0 1rem 2rem rgba($color-black, 0.3);
            transform: translateY(-3px) scale(1.1);
        }
    }

    &__list {
        list-style: none;
        display: flex;
    }

    &__item {
        margin: 0 1rem;
    }

    &__copyright {
        border-top: 1px solid $default-font-color;
        font-size: $default-font-size;
        padding-top: 2rem;
        display: inline-block;
        width: max-content;
        justify-self: center;
    }
}

@media screen and (max-width:660px) {
    .footer__link{
        &:link,
        &:visited{
            font-size: $default-font-size2;
        }
        
    }

    .footer__copyright{
        font-size: $default-font-size2;
    }
    
}

@media screen and (max-width:530px) {
    .footer__link{
        &:link,
        &:visited{
            font-size: $default-font-size2;
        }
        
    }

    .footer__copyright{
        font-size: $default-font-size2;
    }
    
}

@media screen and (max-width:414px) {
    .footer__link{
        &:link,
        &:visited{
            font-size: $default-font-size2;
        }
        
    }

    .footer__list{
        flex-direction: column;
    }

    .footer__navigation{
        justify-self: flex-start;
    }

    .footer__copyright{
        font-size: $default-font-size2;
        justify-self: flex-start;
        width: 10.5rem;
    }
    
}