.btn{
    
    &,
    &:link,
    &:visited{
        text-transform: uppercase;
        font-size: $default-font-size;
        text-decoration: none;
        padding: 1.6rem 3rem;
        display: inline-block;
        border-radius: 50rem;
        transition: all 0.2s ease-in-out;
        
        &:hover{
            transform: translateY(-3px);
            box-shadow: 0 1rem 2rem rgba($color-black, 0.4);
        }

        &:active{
            transform: translateY(-1px);
            box-shadow: 0 0.7rem 2rem rgba($color-black, 0.2);
        }

    }


    &--white{
        background-color: $color-white;
        color: $default-font-color;
    }
    
    
    
}