.feature-box{
    
    background-color: rgba($color-white, 0.8);
    font-size: 1.5rem;
    padding: 2.5rem;
    width: 100%;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
    transition: all 0.3s ease-in-out;

    &__icon{
        font-size: 6rem;
        display: inline-block;
        margin-bottom: 0.5rem;
        background-image: linear-gradient(to right, rgba($color-primary-light, 0.7), rgba($color-primary-dark,0.9));
        -webkit-background-clip: text;
        background-clip: text;
        // color: transparent;
    }

    &:hover{
        transform: translateY(-2rem) scale(1.1);
        background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.5), rgba($color-primary-dark,0.7));
        color: $color-white;
    }

}